@charset "utf-8";

@font-face {
    font-family: 'copperplate';
    src: url(../fonts/OPTICopperplate.otf);
}

:root{
    --MainColor: #EF7123;
    --Wit: #ffffff;
    --Zwart: #000;
    --Groen: #285831;

}

/* <---------Alles voor de header---------> */

*{
    font-family: "copperplate";
    margin: 0;
    padding: 0;
}

html{
    background-image: url(../images/background2.png);
    background-size: cover;
}

header{
    display: grid;
    grid-template-columns: 0.2fr 2fr 5.5fr 0.2fr;
    background-color: rgba(0, 0, 0, 0.6);
}

img{
    height: 60px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 1em;
}

a{
    position: relative;
    text-decoration: none;
    color: var(--Wit);
    font-size: 14px;
    padding: 0 10px;
    font-weight: bold;

}

a::after{
    content: "";
    position: absolute;
    background-color: var(--MainColor);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover:after{
    width: 100%;
}

a:hover{
    color: var(--MainColor);
}
/* <---------Eind Header---------> */

form {
    background-color: var(--Groen);
    margin-top: calc(40vh - 108px);
    margin-left: 35vw;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 30vw;
    border-radius: 15px;
    padding: 2px 5px;
}

#bericht {
    background-color: var(--Wit);
    color: var(--color);
    height: 20vh;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
    resize: none;
    font-size: 16px;
    border: solid 2px black;
}

#name {
    background-color: var(--Wit);
    color: var(--color);
    height: 26px;
    border-radius: 13px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px;
    border: solid 2px black;
}

#submit {
    background-color: var(--MainColor);
    color: var(--color);
    width: 8vw;
    margin-left: 11vw;
    height: 24px;
    border-radius: 10px;
    font-size: 16px;
    border: solid 2px black;
}

p {
    color: var(--color);
    font-size: 20px;
}