@charset "utf-8";

@font-face {
    font-family: 'copperplate';
    src: url(../fonts/OPTICopperplate.otf);
}

:root{
    --MainColor: #EF7123;
    --Wit: #ffffff;
    --Zwart: #000;
    --Groen: #285831;

}

/* <---------Alles voor de header---------> */

*{
    font-family: "copperplate";
    margin: 0;
    padding: 0;
}

html{
    background-image: url(../images/background2.png);
    background-size: cover;
}

header{
    display: grid;
    grid-template-columns: 0.2fr 2fr 5.5fr 0.2fr;
    background-color: rgba(0, 0, 0, 0.6);
}

img{
    height: 60px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 1em;
}

a{
    position: relative;
    text-decoration: none;
    color: var(--Wit);
    font-size: 14px;
    padding: 0 10px;
    font-weight: bold;

}

a::after{
    content: "";
    position: absolute;
    background-color: var(--MainColor);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover:after{
    width: 100%;
}

a:hover{
    color: var(--MainColor);
}
/* <---------Eind Header---------> */
/* <---------Alles voor aanbieding (text)---------> */

.text1{
    display: flex;
    flex-direction: column;
    row-gap: 60vh;
    margin-top: 5vh;
}


.text1 p ,.text1 h1 {
    text-align: center;
    font-size: 1.7em;
}

.text1 h1, .text1 p, .text2 h1 {
	-webkit-animation: glow 2s ease-in-out infinite alternate;
	-moz-animation: glow 2s ease-in-out infinite alternate;
	animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
	from {
		color: var(--Wit);
		text-shadow: 0 0 10px var(--MainColor), 0 0 20px var(--MainColor), 0 0 30px var(--MainColor),
			0 0 40px var(--MainColor), 0 0 50px var(--MainColor), 0 0 60px var(--MainColor), 0 0 70px var(--MainColor),
			0 0 90px var(--MainColor);
	}

	to {
		color: var(--Wit);
		text-shadow: 0 0 20px var(--MainColor), 0 0 30px var(--MainColor), 0 0 40px var(--MainColor),
			0 0 50px var(--MainColor), 0 0 60px var(--MainColor), 0 0 70px var(--MainColor), 0 0 80px var(--MainColor),
			0 1 90px var(--MainColor);
	}
}
/* ------------------POPUP----------------- */
*, *::after, *::before {
    box-sizing: border-box;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--Wit);
    width: 500px;
    max-width: 80%;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;

  }
  
  .modal-header .title {
    display: flex;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 10px 15px;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }

  #button-main{
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--Wit);
    width: 20%;
    height: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;    
    position: absolute;
    top: calc(50vh - 25px);
  }

  #button-main >p {
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      color: var(--Wit);
      text-shadow: 0 0 10px var(--MainColor), 0 0 20px var(--MainColor), 0 0 30px var(--MainColor),
        0 0 40px var(--MainColor), 0 0 50px var(--MainColor), 0 0 60px var(--MainColor), 0 0 70px var(--MainColor),
        0 0 90px var(--MainColor);
    }
  
    to {
      color: var(--Wit);
      text-shadow: 0 0 20px var(--MainColor), 0 0 30px var(--MainColor), 0 0 40px var(--MainColor),
        0 0 50px var(--MainColor), 0 0 60px var(--MainColor), 0 0 70px var(--MainColor), 0 0 80px var(--MainColor),
        0 1 90px var(--MainColor);
    }
  }

/* ------------------EindPOPUP----------------- */

/* * <-------------------FOOTER----------------> */
      .main-footer{
        margin-top: 60px;
          padding-left: 15em;
          padding-right: 15em;
          display: flex;
          flex-direction: row;
          gap: 5em;
          background-color: rgba(0, 0, 0, 0.6);
          align-items: center;
          padding-top: 2em;
          padding-bottom: 2em;
          text-align: left;
          font-size: 12px;
      }



      .main-footer > article > p{
          font-size: 1em;
          color: var(--Wit);
      }

      .main-footer >article > h{
          font-weight: bold;
          color: var(--Wit);

      }

      .main-footer >article >p> h{
          font-weight: bold;
      }
