@charset "utf-8";

@font-face {
    font-family: 'copperplate';
    src: url(../fonts/OPTICopperplate.otf);
}

:root{
    --MainColor: #EF7123;
    --Wit: #ffffff;
    --Zwart: #000;
    --Groen: #285831;

}
/* <---------Alles voor de header---------> */
*{
    font-family: "copperplate";
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../images/tiger_background.png);
    background-size: cover;
}

header{
    display: grid;
    grid-template-columns: 0.2fr 2fr 5.5fr 0.2fr;
    background-color: rgba(0, 0, 0, 0.6);
}

img{
    height: 60px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 1em;
}

a{
    position: relative;
    text-decoration: none;
    color: var(--Wit);
    font-size: 14px;
    padding: 0 10px;
    font-weight: bold;

}

a::after{
    content: "";
    position: absolute;
    background-color: var(--MainColor);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover:after{
    width: 100%;
}

a:hover{
    color: var(--MainColor);
}
/* <---------Eind Header---------> */

/* <---------Alles voor body (text)---------> */

.text1{
    display: flex;
    color: var(--MainColor);
    flex-direction: column;
    row-gap: 30em;
}
.text1 p ,.text1 h1 {
    text-align: center;
    font-size: 1.7em;
}

.echoname{
    color: #ffffff;
    font-size: larger;
    position: absolute;
    margin-left: 2.5%;
    margin-top: 7%;
    background-color: #014c0bbc;
    opacity: 80%;
    border: #000000 solid ; 
    width: 25vw;
    padding-left: 35vw ;
    padding-right: 35vw ;
    padding-bottom: 30vh;
    border-radius: 4vw;

}



  
  .button {
      position: absolute;
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #ffffff;
    border-radius: 20ch;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    margin-top: 70vh;
    margin-left: 35vw;
  }
  .button:hover {
    background: #000000;
    color: rgb(255, 115, 0);
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 5vh auto;
    padding: 20vh;
    background-color:white ;
    border-radius: 2vh;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: rgb(255, 255, 255);
  }
  .popup .close {
    position: absolute;
    top: 2vh;
    right: 3vw;
    transition: all 200ms;
    font-size: 5vh;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #060503;
  }
  .popup .content {
    max-height: 700%;
    overflow: auto;
  }
  #mandje{
    position: absolute;
    font-size: 1em;
    padding: 10px;
    color: rgb(255, 119, 0);
    border: 2px solid #0d0c0b;
    border-radius: 20ch;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    margin-top: 15vh;
    margin-left: 15vw;
  }
  #mandje:hover{
    background: #c4c4c4;
    color: rgb(255, 115, 0);
  }

  form{
   
   
   border-radius: 1vw;
    margin-left: 30vw;
    width: 30vw;
    height: 5vh;
  }

  .actie{
    position: absolute;
    margin-left: -35vw ;
    margin-top: 4vh;
    width: 30vw;
    height: 60vh;
  }
  

  .uitloggen{
    position: absolute;
    margin-left: 40vw;
    margin-top: 27vh;
    border: 2px solid #ffffff;
    border-radius: 20ch;
  }


  input{
    border-radius: 15px;
    border: 2px solid #000000;
  
  }

  input[type=submit]{
    position: absolute;
    padding: 5px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 2px solid #ffffff;
    border-radius: 20ch;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }

  input[type=submit]:hover{
  background: #000000;
    color: rgb(255, 115, 0);
  }