@charset "utf-8";

@font-face {
    font-family: 'copperplate';
    src: url(../fonts/OPTICopperplate.otf);
}

:root{
    --MainColor: #EF7123;
    --Wit: #ffffff;
    --Zwart: #000;
    --Groen: #285831;

}

/* <---------Alles voor de header---------> */

*{
    font-family: "copperplate";
    margin: 0;
    padding: 0;
}

html{
    background-image: url(../images/tiger_background.png);
    background-size: cover;
}

header{
    display: grid;
    grid-template-columns: 0.2fr 2fr 5.5fr 0.2fr;
    background-color: rgba(0, 0, 0, 0.6);
}

img{
    height: 60px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 1em;
}

nav a{
    position: relative;
    text-decoration: none;
    color: var(--Wit);
    font-size: 14px;
    padding: 0 10px;
    font-weight: bold;

}

nav a::after{
    content: "";
    position: absolute;
    background-color: var(--MainColor);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

nav a:hover:after{
    width: 100%;
}

nav a:hover{
    color: var(--MainColor);
}
/* <---------Eind Header---------> */

.login{
    left: 39vw;
    width: 22vw;
    border-radius: 15px;
    padding-left: 5.5vw;
    padding-top: 2.5vw;
    margin-left: 35.5vw;
    margin-top: 12vh;
    padding-bottom: 5vh;
    background-color: #00000088;
    border: #000000 solid; 
}

input{
    margin-top: 6vh;
    border-radius: 15px;
    padding: 10px;
}


.maakacc{
    font-size: small;
     margin-top: -0.3vh;
    margin-left: 2vw;
    position: absolute;
    padding: 5px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 2px solid #000000;
    border-radius: 20ch;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;   
}

p{
    font-size: small;
    color: white;
    margin-left: 3vw;
}